Repository ovh-ux/ng-ovh-telecom-universe-components, pull requests merged in 2019-07, with the labels that each got.

#102 Release v3.0.4
  package.json
  src/telecom/telephony/callsFiltering/index.js
  yarn.lock
Labels: release :package:

#100 build: require angular ^1.7.5
  package.json
Labels: dependencies

#105 Release v3.0.5
  package.json
Labels: release :package:

#107 build: update yarn.lock file
  yarn.lock
Labels: build

#110 docs: generate changelog.md file
  CHANGELOG.md
Labels: documentation

#113 Release v3.0.6
  package.json
  src/validator/index.js
Labels: release :package:

#117 Release v3.0.7
  package.json
  src/telecom/voip/service/voip-service.service.js
  yarn.lock
Labels: release :package:
